body {
    max-width: 100%;
}

h1 {
    color: black;
    text-align: center;
    font-size: 50px;
}

p.about {
    color: black;
    font-size: 25px;
}

p.aboutform {
    color: black;
    font-size: 25px;
}